<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Maxim Ivashchuk
	link(rel="stylesheet", href="/css/normalize.css")
	link(rel="stylesheet", href="/css/style.css")
body
	.wrapper.wrapper_top_line.wrapper_bottom_line
		.wrapper__header
			header.b-header
				.b-header__title
					h1.b-title Shopping Cart — Make Purchases Now!
				.b-header__basket
					.b-basket.b-basket_icon#basket1
						span.b-basket__total-price $0	
		.wrapper__products.clearfix
			section.b-products
				.b-products__product-wrapper
					a.b-product(href="t-shirts.html")
						img.b-product__img(src="/img/products/t-shirts.png", alt="")
						div.b-product__text T-Shirts
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/cups.png", alt="")
						div.b-product__text Cups
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/cards.png", alt="")
						div.b-product__text Cards
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/toys.png", alt="")
						div.b-product__text Toys
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/magnets.png", alt="")
						div.b-product__text Magnets
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/pens.png", alt="")
						div.b-product__text Pens & Pensils
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/bags.png", alt="")
						div.b-product__text Bags
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/notebooks.png", alt="")
						div.b-product__text Noteboks
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/scrumcards.png", alt="")
						div.b-product__text Scrumcards
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/magnets.png", alt="")
						div.b-product__text Magnets
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/pens.png", alt="")
						div.b-product__text Pens
				.b-products__product-wrapper
					a.b-product(href="#")
						img.b-product__img(src="/img/products/toys.png", alt="")
						div.b-product__text Toys

	script(src="/scripts/jquery-2.1.4.min.js")
	script(src="/scripts/jquery-cookie.js")
	script(src="/scripts/script.js")
	script  var b1 = new basket("#basket1");
